* {
  box-sizing: border-box;
}

.App {
  height: 100vh;
  text-align: center;
}

html {
  --fsize: 20px;
  font-size: var(--fsize);
  font-family: 'Roboto', sans-serif;
}

html, 
body {
  margin: 0;
  padding: 0;
}

.App > h1 {
  margin-top: 0;
}

.flexbox {
  display: flex;
}

.flexbox > * {
  flex-grow: 2;
}

.gap-1 {
  gap: 1rem;
}

.gap-2 {
  gap: 4rem;
}

.justify-center {
  justify-content: center;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}