* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

html {
  font-size: 20px;
}

html, 
body {
  margin: 0;
  padding: 0;
}

.flexbox {
  display: flex;
}

.flexbox > * {
  flex-grow: 2;
}

.gap-1 {
  gap: 1rem;
}

.gap-2 {
  gap: 4rem;
}

.justify-center {
  justify-content: center;
}